 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background: black">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Magic Inventory</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Customer" asp-action="Index">View Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Customer" asp-action="SelectStore">Select Store</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
              
              <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart <span class="glyphicon glyphicon-shopping-cart"></span></a>
                </li>
               
            </ul>
            @await Html.PartialAsync("_LoginPartial")
         </div>
     </div>
 </nav>